<% provide(:days, "active") %>
<% provide(:title, "days") %>

<%= flash[:error] if flash[:error] %>
<%= flash[:notice] if flash[:notice] %>

<table>
	<tr>
		<th>date</th>
		<th>protein</th>
		<th colspan="2">Options</th>
	</tr>

	<tbody>
    <% if @days.empty? %>
      <strong> No days yet</strong>
    <% else %>
    	<% @days.each do |day| %>
    		<tr>
    			<td><%= day.day %></td>
    			<td><%= day.protein %></td>
                <td><%= link_to 'View Day', day_path(day.id) %></td>
                <td><%= link_to 'Delete Day', day,  method: :delete, data: { confirm: 'Are you sure?' } %></td>
    		</tr>
    	<% end %>
		<% end %>
	</tbody>
</table>
 
<%= link_to 'Back to user', user_path(params[:user_id]) %>
<%=  link_to 'New day',{:action => :create}, :method => :post, :user_id => params[:user_id] %>